@media (max-width: 1220px) {
    .left-sidebar {
        position: relative;
        max-width: 767px;
        left: 0;
        margin: auto;
        top: 0;
        transform: translateY(0);
        margin-top: 20px;
        display: none;
    }

    .left-sidebar {
        display: block;
    }
}
@media (max-width:1024px) {
    .xs-none {
        display: none;
    }

    .margin-left {
        margin-left: 60px;
    }

    .menu {
        display: none !important;
    }

    .left-sidebar {
        width: 90%;
        padding: 134px;
        margin-top: 30px;
    }

    h1 {
        font-size: 37px;
    }

    .menu-bar-control {
        top: 80px;
        right: 15px;
        position: fixed !important;
        z-index: 999;
    }

    .xs-no-wrap {
        flex-wrap: nowrap;
    }

    .email {
        font-size: 20px !important;
    }

    .menu1 {
        padding: 0px;
        width: 1034px !important;
        background-color: #191919 !important;
    }

    .color-1 {
        width: 6%;
        height: 35px;
    }

    .color-2 {
        width: 6%;
        height: 35px;
    }

    .color-3 {
        width: 6%;
        height: 35px;
    }

    .color-4 {
        width: 6%;
        height: 35px;
    }

    .color-5 {
        width: 6%;
        height: 35px;
    }

    .color-6 {
        width: 6%;
        height: 35px;
    }

    .color-7 {
        width: 6%;
        height: 35px;
    }

    .color-8 {
        width: 6%;
        height: 35px;
    }

    .xs-flex {
        display: block;
    }

    .content-width {
        margin-left: 0px;
    }
}
@media (max-width:768px) {
    .xs-none {
        display: none;
    }

    .margin-left {
        margin-left: 60px;
    }

    .left-sidebar {
        width: 90%;
        padding: 134px;
        margin-top: 30px;
    }

    h1 {
        font-size: 37px;
    }

    .menu-bar-control {
        top: 80px;
        right: 15px;
        position: fixed !important;
        z-index: 999;
    }

    .xs-no-wrap {
        flex-wrap: nowrap;
    }

    .email {
        font-size: 20px !important;
    }

    .menu1 {
        padding: 0px;
        width: 1034px !important;
        background-color: #191919 !important;
    }

    .color-1 {
        width: 6%;
        height: 35px;
    }

    .color-2 {
        width: 6%;
        height: 35px;
    }

    .color-3 {
        width: 6%;
        height: 35px;
    }

    .color-4 {
        width: 6%;
        height: 35px;
    }

    .color-5 {
        width: 6%;
        height: 35px;
    }

    .color-6 {
        width: 6%;
        height: 35px;
    }

    .color-7 {
        width: 6%;
        height: 35px;
    }

    .color-8 {
        width: 6%;
        height: 35px;
    }

    .xs-flex {
        display: block;
    }

    .content-width {
        margin-left: 0px;
    }
}
@media (max-width:425px) {
    .xs-none {
        display: none;
    }

    .margin-left {
        margin-left: 20px;
    }
    .xs-6 {
        width: 50%;
    }
    .left-sidebar {
        width: 90%;
        padding: 50px 8px;
        margin-top: 30px;
    }
    .css-image {
        width: 130px;
    }
    .menu2 {
        padding-top: 134px;
        background-color: black !important;
        width: 270px !important;
    }
    .bootstrap-image {
        width: 120px;
        margin-bottom: 32px;
    }

    .jquery-image {
        width: 140px;
        margin-top: 0px;
    }

    .c-image {
        width: 84px;
        margin-bottom: 32px;
    }

    .swiper {
        width: 100%;
        height: 45%;
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        top: 90%;
    }
    h1 {
        font-size: 37px;
    }

    .menu-bar-control {
        top: 80px;
        right: 15px;
        position: fixed !important;
        z-index: 999;
    }

    .xs-no-wrap {
        flex-wrap: nowrap;
    }

    .email {
        font-size: 20px !important;
    }

    .menu1 {
        padding: 0px;
        width: 1034px !important;
        background-color: #191919 !important;
    }

    .color-1 {
        width: 12%;
        height: 35px;
    }

    .color-2 {
        width: 12%;
        height: 35px;
    }

    .color-3 {
        width: 12%;
        height: 35px;
    }

    .color-4 {
        width: 12%;
        height: 35px;
    }

    .color-5 {
        width: 12%;
        height: 35px;
    }

    .color-6 {
        width: 12%;
        height: 35px;
    }

    .color-7 {
        width: 12%;
        height: 35px;
    }

    .color-8 {
        width: 12%;
        height: 35px;
    }

    .xs-flex {
        display: block;
    }

    .content-width {
        margin-left: 0px;
    }
}
@media (max-width:375px) {
    .xs-none {
        display: none;
    }

    .xs-6 {
        width: 50%;
    }

    .left-sidebar {
        width: 90%;
        padding: 50px 8px;
        margin-top: 30px;
    }
    .menu2 {
        padding-top: 134px;
        background-color: black !important;
        width: 260px !important;
    }
    .margin-left {
        margin-left: 0px;
    }

    h1 {
        font-size: 37px;
    }

    .menu-bar-control {
        top: 80px;
        right: 15px;
        position: fixed !important;
        z-index: 999;
    }

    .xs-no-wrap {
        flex-wrap: nowrap;
    }

    .email {
        font-size: 20px !important;
    }

    .menu1 {
        padding: 0px;
        width: 1034px !important;
        background-color: #191919 !important;
    }

    .css-image {
        width: 110px;
    }

    .bootstrap-image {
        width: 86px;
        margin-bottom: 32px;
    }

    .jquery-image {
        width: 107px;
        margin-top: 0px;
    }

    .c-image {
        width: 84px;
        margin-bottom: 32px;
    }

    .swiper {
        width: 100%;
        height: 45%;
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        top: 90%;
    }
    .color-1 {
        width: 12%;
        height: 35px;
    }

    .color-2 {
        width: 12%;
        height: 35px;
    }

    .color-3 {
        width: 12%;
        height: 35px;
    }

    .color-4 {
        width: 12%;
        height: 35px;
    }

    .color-5 {
        width: 12%;
        height: 35px;
    }

    .color-6 {
        width: 12%;
        height: 35px;
    }

    .color-7 {
        width: 12%;
        height: 35px;
    }

    .color-8 {
        width: 12%;
        height: 35px;
    }

    .xs-flex {
        display: block;
    }

    .content-width {
        margin-left: 0px;
    }
}
@media (max-width:320px) {
    .xs-none {
        display: none;
    }

    .xs-6 {
        width: 50%;
    }

    .css-image {
        width: 86px;
    }
    .menu2 {
        padding-top: 134px;
        background-color: black !important;
        width: 210px !important;
    }
    .bootstrap-image {
        width: 86px;
        margin-bottom: 32px;
    }

    .jquery-image {
        width: 107px;
        margin-top: 0px;
    }

    .c-image {
        width: 84px;
        margin-bottom: 32px;
    }

    .swiper-wrapper {
        height: 100%;
    }

    .swiper {
        height: 62%;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        top: 97%;
    }

    .left-sidebar {
        width: 90%;
        padding: 134px;
        margin-top: 30px;
    }

    .margin-left {
        margin-left: -5px;
    }

    .left-sidebar {
        width: 90%;
        padding: 50px 8px;
        margin-top: 30px;
    }

    h1 {
        font-size: 37px;
    }

    .menu-bar-control {
        top: 80px;
        right: 15px;
        position: fixed !important;
        z-index: 999;
    }

    .xs-no-wrap {
        flex-wrap: nowrap;
    }

    .email {
        font-size: 20px !important;
    }

    .menu1 {
        padding: 0px;
        width: 1034px !important;
        background-color: #191919 !important;
    }

    .color-1 {
        width: 12%;
        height: 35px;
    }

    .color-2 {
        width: 12%;
        height: 35px;
    }

    .color-3 {
        width: 12%;
        height: 35px;
    }

    .color-4 {
        width: 12%;
        height: 35px;
    }

    .color-5 {
        width: 12%;
        height: 35px;
    }

    .color-6 {
        width: 12%;
        height: 35px;
    }

    .color-7 {
        width: 12%;
        height: 35px;
    }

    .color-8 {
        width: 12%;
        height: 35px;
    }

    .xs-flex {
        display: block;
    }

    .content-width {
        margin-left: 0px;
    }
}